<footer>
	<div id="poshta">
		<a href="mailto:arsenii.buriak@gmail.com">
			ABURIAK@MY.CENTENNIALCOLLEGE.CA
		</a>
	</div>

	<div class="links">
		<a href='https://github.com/SenchaBka'>
			GITHUB 
		</a> <br> <br>
		<a href="https://www.linkedin.com/in/arsenii-buriak/">
			LINKEDIN
		</a>
	</div>
</footer>