<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="style.css" />
	
	<title>Home Page</title>
</head>

<%- include('partials/nav'); %>

<main>
	<h1>Welcome to the Home Page!</h1>
	<h3>My mission is...</h3>
	<p>
	    to continuously improve my skills in creating computer programs.
		I'm committed to using the latest technologies and best methods to build creative and dependable software.
		I want to solve complex problems with creativity and precision while striving for excellence in my coding and troubleshooting abilities.
		Additionally, I aim to collaborate effectively with diverse teams, encouraging teamwork, communication, and ongoing learning.
	</p>
	<a href="/about">
		<h3>Click here to read more!</h3>
	</a>
</main>

<%- include('partials/footer'); %>

</body>
</html>  