<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="style.css" />
	
	<title>Projects Page</title>
</head>

	<nav class="app_nav">
		<a href="home.html">
			<img src="logo.png" width="50px" height="50px">
		</a>
		<a href="projects.html">Projects</a>
		<a href="services.html">Services</a>
		<a href="contact.html">Contact</a>
		<a href="about.html">About</a>
	</nav>

<main>
	<h1>My projects</h1>
	<h3>Project 1</h3>
	<section class="project">
		<p>
			Collaborated with a team to develop a C# application that manages college student records.
			This project included concepts such as inheritance, exceptions, events, and file writing and reading. I was the leader of the group.
		</p>
		<img src="project-1.png" width="100%" height="100%">
	</section>
	<h3>Project 2</h3>
	<section class="project">
		<p>
			Worked with a team to develop software requirements specifications for a "CASS-Assist" application that helps
			college students get needed information or connect with counselors using an AI chatbot. I took part in every step of creating the project.
		</p>
		<img src="project-2.png" width="100%" height="100%">
	</section>
	<h3>Project 3</h3>
	<section class="project">
		<p>
			Together with a team, created and managed software systems design for a travel application that connects people
			from different parts of the world, helps them find interesting places to visit, and provides services such as booking a hotel or flight.
			Class diagram created by me.
		</p>
		<img src="project-3.png" width="100%" height="100%">
	</section>
</main>


<footer>
	<div id="poshta">
		<a href="mailto:arsenii.buriak@gmail.com">
			ABURIAK@MY.CENTENNIALCOLLEGE.CA
		</a>
	</div>

	<div class="links">
		<a href='https://github.com/SenchaBka'>
			GITHUB 
		</a> <br> <br>
		<a href="https://www.linkedin.com/in/arsenii-buriak/">
			LINKEDIN
		</a>
	</div>
</footer>

</body>
</html>  